.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #a5a5a5;
    padding: 200px 400px;
}

.hero h1 {
    font-size: 56px;
    font-weight: 700;
}

.hero p {
    margin-top: 20px;
    font-size: 22px;
}

.featured-prod {
    padding: 50px 0 50px 100px;
}

.featured-prod h3 {
    font-size: 32px;
}
